[submodule "vendors/builder-signing-sdk"]
	path = vendors/builder-signing-sdk
	url = https://github.com/Polymarket/builder-signing-sdk.git
[submodule "vendors/clob-client-fork"]
	path = vendors/clob-client-fork
	url = https://github.com/HuakunShen/polymarket-clob-client.git
